# Análise

In [2]:
import pandas as pd

In [3]:
trainProcessed = pd.read_csv("./processedData/trainProcessed.csv", )

In [4]:
trainProcessed[trainProcessed['Phrase'].notnull()]

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,seri escapad demonstr adag good goos good gand...,1
1,64,2,quiet introspect entertain independ worth seek,4
2,82,3,fan ismail merchant work suspect hard time sit,1
3,117,4,posit thrill combin ethnographi intrigu betray...,3
4,157,5,aggress self glorif manipul whitewash,1
...,...,...,...,...
8524,155985,8540,will claustrophob concept,2
8525,155998,8541,despit annoy capabl clayburgh tambor great job...,2
8526,156022,8542,tri parodi genr joke unit state,1
8527,156032,8543,movi downfal substitut plot person,1
8528,156040,8544,film darkli atmospher herrmann quietli suggest...,2

In [5]:
from sklearn.decomposition import TruncatedSVD
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import Normalizer
from sklearn import metrics

In [6]:
aux = trainProcessed[trainProcessed['Phrase'].notnull()]

In [7]:
aux.head(10)

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,seri escapad demonstr adag good goos good gand...,1
1,64,2,quiet introspect entertain independ worth seek,4
2,82,3,fan ismail merchant work suspect hard time sit,1
3,117,4,posit thrill combin ethnographi intrigu betray...,3
4,157,5,aggress self glorif manipul whitewash,1
5,167,6,comedi drama nearli epic proport root sincer p...,4
6,199,7,narr troubl day plod mess,1
7,214,8,import earnest thick wit play like read bartle...,3
8,248,9,leav,1
9,260,10,hate reason,1

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [9]:
phrases = list(aux["Phrase"])
print(type(phrases), "\n", len(phrases), "\n", type(phrases[0]))

<class 'list'>
 8497
 <class 'str'>

In [10]:
vectorizer=CountVectorizer(min_df=1)

dtmTF = vectorizer.fit_transform(phrases)
df_tf = pd.DataFrame(dtmTF.toarray(), index=range(0, dtmTF.shape[0]), columns=vectorizer.get_feature_names())

df_tf.head(10)

/home/gfmco/.local/lib/python3.10/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,aaa,aaliyah,aan,abagnal,abandon,abbass,abbott,abbrevi,abc,abderrahman,...,zish,ziyi,zoe,zombi,zone,zooland,zoom,zucker,zwick,zzzzzzzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
tfidf_transformer = TfidfTransformer()
dtmTF_IDF = tfidf_transformer.fit_transform(dtmTF)

df_tf_idf = pd.DataFrame(dtmTF_IDF.toarray(), index=range(0, dtmTF_IDF.shape[0]), columns=vectorizer.get_feature_names())
df_tf_idf.head(10)

/home/gfmco/.local/lib/python3.10/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,aaa,aaliyah,aan,abagnal,abandon,abbass,abbott,abbrevi,abc,abderrahman,...,zish,ziyi,zoe,zombi,zone,zooland,zoom,zucker,zwick,zzzzzzzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
lsa = TruncatedSVD(25, algorithm='randomized')
dtm_lsa_tf = lsa.fit_transform(dtmTF)
dtm_lsa_tf = Normalizer(copy=False).fit_transform(dtm_lsa_tf)

lsa = TruncatedSVD(25, algorithm='randomized')
dtm_lsa_tf_idf = lsa.fit_transform(dtmTF_IDF)
dtm_lsa_tf_idf = Normalizer(copy=False).fit_transform(dtm_lsa_tf_idf)

print(dtm_lsa_tf.shape)
print(dtm_lsa_tf_idf.shape)

(8497, 25)
(8497, 25)

In [13]:
df_lsa_tf = pd.DataFrame(dtm_lsa_tf, index=range(0, dtm_lsa_tf.shape[0]))
df_lsa_tf.head(10)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.177958,-0.019880,0.109137,0.820804,0.251862,0.407588,0.000690,-0.105687,-0.068768,0.002456,...,0.033508,-0.027112,-0.057035,-0.034314,-0.024329,-0.006246,-0.036627,0.003121,-0.011388,-0.024984
1,0.154252,-0.011907,0.079475,0.122289,-0.078160,-0.153741,0.045051,0.124651,0.078707,0.011675,...,0.171513,-0.020294,0.164002,0.031852,0.409524,0.065958,0.480000,0.030310,-0.569960,-0.208117
2,0.144614,-0.042343,0.114830,0.228705,-0.167284,-0.502686,0.431546,-0.053752,0.485651,-0.247830,...,0.012886,-0.096501,0.086553,0.045798,0.023200,0.029176,0.002479,0.004709,0.078181,0.000349
3,0.383882,-0.052550,0.091445,0.276460,-0.449849,-0.148371,-0.134447,0.259784,0.152215,-0.188803,...,0.141145,0.206421,-0.122905,0.054390,-0.050834,0.035323,0.051906,0.105013,-0.159461,-0.152387
4,0.194682,-0.037886,0.161486,0.140461,-0.289222,-0.130005,-0.199644,0.187739,0.006280,-0.084639,...,-0.162903,0.216250,0.069171,0.386544,-0.233349,0.071689,-0.275093,0.050546,0.021448,0.072135
5,0.136999,-0.014989,0.103131,0.191072,-0.328389,-0.320724,-0.530120,0.199281,-0.175934,0.088565,...,-0.103023,-0.168394,-0.008767,-0.077978,0.127014,-0.057692,0.019409,-0.084471,0.005952,-0.041799
6,0.390130,-0.045114,0.206726,0.225261,-0.418336,0.047802,-0.063556,0.200055,0.230775,0.028666,...,0.046639,-0.043226,-0.232367,0.184379,0.225864,0.232746,-0.259849,0.310001,0.004749,-0.072938
7,0.231483,-0.075608,0.875223,-0.248527,0.115076,0.068229,0.006415,0.017035,-0.087428,-0.186585,...,-0.043050,0.075441,0.031593,0.003109,-0.062342,-0.006309,-0.046067,0.021796,-0.070487,-0.000196
8,0.180896,-0.049272,0.149438,0.104749,-0.118592,-0.121819,-0.044853,-0.052820,0.081336,0.221360,...,-0.045413,0.329773,-0.344747,-0.080809,0.129920,-0.112367,0.158612,0.691948,-0.144804,0.002397
9,0.269000,-0.069955,0.156374,0.242107,-0.169093,-0.199633,-0.311714,0.184118,-0.021168,0.093236,...,0.021158,0.081839,0.136322,0.217590,-0.064432,-0.280800,0.398330,0.303604,-0.120264,-0.005111

In [14]:
df_lsa_tf_idf = pd.DataFrame(dtm_lsa_tf_idf, index=range(0, dtm_lsa_tf_idf.shape[0]))
df_lsa_tf_idf.head(10)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.319232,0.128681,0.772553,0.175780,0.197942,-0.105550,-0.001219,-0.049311,-0.294911,-0.135091,...,0.061197,-0.021631,-0.079359,-0.156005,0.016813,0.044484,-0.033789,0.087551,-0.001647,0.040709
1,0.126041,0.038045,-0.019534,0.063293,0.022528,-0.033087,0.094494,-0.030427,0.114934,0.003938,...,-0.312936,0.000521,-0.118007,-0.437593,0.408563,0.212505,-0.083025,0.086766,-0.129936,-0.207011
2,0.238147,0.023514,-0.004524,0.205626,0.132376,-0.273304,0.277272,0.489777,0.554067,-0.149502,...,-0.089551,-0.044006,0.095042,0.097406,-0.075721,-0.057102,-0.010010,0.082929,-0.037059,0.010885
3,0.411804,0.103834,-0.148719,0.092476,0.126377,-0.149304,0.343139,-0.006361,-0.122036,0.159260,...,0.088317,0.054304,-0.114014,-0.192635,-0.091782,0.107265,0.081881,-0.311445,-0.166661,0.529179
4,0.295621,0.066861,-0.152810,0.162463,0.085059,-0.100691,0.199634,-0.116984,-0.183244,0.032105,...,0.319274,-0.150653,0.005532,-0.000954,-0.111332,-0.261583,-0.069924,-0.316896,-0.072323,-0.371882
5,0.212908,0.082570,-0.080200,0.147714,0.238855,-0.066749,0.206652,-0.058856,-0.103389,0.553369,...,-0.222254,0.113776,0.034793,0.098177,0.151207,-0.022409,-0.052124,-0.049095,-0.126324,-0.118678
6,0.323070,0.104532,-0.079568,0.086295,0.061532,-0.049410,0.082218,-0.084930,-0.072504,0.067694,...,0.500803,-0.033434,0.186024,-0.089315,-0.325126,0.335800,-0.433315,-0.154300,0.194446,0.136973
7,0.316335,0.030922,-0.236765,0.720656,-0.166610,0.321088,-0.208924,0.012741,-0.078594,-0.034379,...,0.067148,0.034008,-0.068496,-0.127445,-0.052043,-0.091162,-0.009321,-0.016403,0.019157,0.002497
8,0.203218,0.024933,-0.055411,0.196527,0.053392,-0.091820,0.044004,-0.032577,0.054671,0.024987,...,0.686239,0.126717,-0.061421,0.073760,0.091987,0.474046,0.046814,-0.336465,-0.003333,0.019378
9,0.196036,0.046044,0.052218,0.141001,0.035704,-0.081217,0.027007,-0.099662,-0.101968,0.117558,...,-0.068751,-0.221923,-0.081941,0.265171,0.198899,0.137022,-0.453983,0.340705,-0.372338,0.014170

In [15]:
from sklearn.tree import DecisionTreeClassifier

In [16]:
y = aux.loc[:, "Sentiment"].astype("category")
y

0       1
1       4
2       1
3       3
4       1
       ..
8524    2
8525    2
8526    1
8527    1
8528    2
Name: Sentiment, Length: 8497, dtype: category
Categories (5, int64): [0, 1, 2, 3, 4]

In [17]:
x_tf_train, x_tf_test, y_tf_train, y_tf_test = train_test_split(df_lsa_tf, y, random_state=27, train_size=.80)
x_tf_idf_train, x_tf_idf_test, y_tf_idf_train, y_tf_idf_test = train_test_split(df_lsa_tf_idf, y, random_state=27, train_size=.80)

In [18]:
regTF_train = DecisionTreeClassifier(criterion='entropy', random_state = 27)
regTF_IDF_train = DecisionTreeClassifier(criterion='entropy', random_state = 27)

regTF_train.fit(x_tf_train, y_tf_train)
regTF_IDF_train.fit(x_tf_idf_train, y_tf_idf_train)

DecisionTreeClassifier(criterion='entropy', random_state=27)

In [19]:
y_tf_test = pd.DataFrame(y_tf_test)
y_tf_idf_test = pd.DataFrame(y_tf_idf_test)

In [20]:
y_tf_test

     Sentiment
830          3
5107         1
5768         2
58           3
1652         0
...        ...
390          1
3150         2
3943         2
7292         1
5492         2

[1700 rows x 1 columns]

In [21]:
y_tf_test.insert(1, "Predict", list(regTF_train.predict(x_tf_test)))
y_tf_idf_test.insert(1, "Predict", list(regTF_IDF_train.predict(x_tf_idf_test)))

In [22]:
y_tf_test

     Sentiment  Predict
830          3        3
5107         1        0
5768         2        3
58           3        0
1652         0        1
...        ...      ...
390          1        1
3150         2        1
3943         2        3
7292         1        3
5492         2        3

[1700 rows x 2 columns]

In [23]:
from sklearn.metrics import confusion_matrix

In [24]:
confusion_matrix(y_tf_test["Sentiment"], y_tf_test["Predict"])

array([[ 30,  60,  43,  49,  21],
       [ 54, 135,  83, 123,  59],
       [ 49,  90,  55,  98,  35],
       [ 49,  91,  93, 156,  90],
       [ 32,  56,  48,  54,  47]])

In [25]:
regTF_train.score(x_tf_test, y_tf_test["Sentiment"])

0.2488235294117647

In [26]:
confusion_matrix(y_tf_idf_test["Sentiment"], y_tf_idf_test["Predict"])

array([[ 35,  57,  37,  52,  22],
       [ 57, 142,  82, 107,  66],
       [ 37,  87,  73,  81,  49],
       [ 65, 104,  92, 146,  72],
       [ 20,  52,  44,  72,  49]])

In [27]:
regTF_IDF_train.score(x_tf_idf_test, y_tf_idf_test["Sentiment"])

0.26176470588235295

In [28]:
y_tf_idf_test

     Sentiment  Predict
830          3        2
5107         1        1
5768         2        3
58           3        3
1652         0        3
...        ...      ...
390          1        3
3150         2        3
3943         2        1
7292         1        2
5492         2        4

[1700 rows x 2 columns]